@import url("../css/_theme.css");

body {
    font-family: var(--primary-font);
    font-size: 1.4vw;
    margin: 0;
    background-color: rgba(235, 235, 235, 1);
}

header {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75% 5.25% 0.75% 5.25%;
    border: none;
}

.enlaceLogo {
    text-decoration: none;
}

.titulo {
    color: white;
    font-size: 4.2vw;
    font-weight: 700;
    margin: 0;
    transition: color 0.5s ease;
}

.titulo:hover {
    color: var(--accent-color);
}

#ucv {
    font-size: 1.68vw;
    font-weight: 400;
    display: inline;
}

#busqueda {
    display: flex;
    margin: 0;
    width: 34.5%;
    height: 2.85%;
}

#campoBusqueda {
    border: none;
    width: 70%;
    border-radius: 25px 0px 0px 25px;
    font-size: 1.19vw;
    padding: 10px;
}

#botonBusqueda {
    border: none;
    width: 30%;
    border-radius: 0px 25px 25px 0px;
    color: white;
    font-size: 1.19vx;
    background-color: var(--accent-color);
}

#circuloIconoUsuario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: var(--accent-color);
    border-radius: 100%;
    margin: 0;
}

#iconoUsuario {
    width: 70%;
    height: 70%;
}

#menu {
    display: none;
}

#listaMenu {
    display: none;
    border: none;
}

#busquedaMini {
    display: none;
}

#campoBusquedaMini {
    display: none;
    font-size: 10vw;
}

#botonBusquedaMini {
    display: none;
}

#contenedorUsuarioMini {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

#circuloIconoUsuarioMini {
    display: none;
}

#iconoUsuarioMini {
    display: none;
}

#myProfile {
    font-size: 6vw;
    margin: 0;
}

.separador {
    margin: 0;
}

.separadorMenu {
    margin: 5% 0% 5% 0%;
    width: 100%;
    background-color: white;
}

footer {
    font-size: 1.05vw;
    text-align: center;
    color: gray;
    opacity: 50%;
    object-position: center;
    padding: 3%;
}

#cajaPerfil {
    display: flex;
    flex-direction: row;
    margin: 0% 0% 2.25% 0%;
    box-shadow: 0px 0.3vw 0.4vw 0.3vw rgba(0, 0, 0, 0.2);
    background-color: white;
}

#cajaFotoPerfil {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 80%;
    padding: 0% 0.375% 0% 0%;
    background-color: var(--main-color);
}

.fotoPerfilPrincipal {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 7vw;
}

#fotoPerfilSmall {
    display: none;
}

#cajaTexto {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 1.43vw;
    padding: 3% 3.75% 3% 3.75%;
}

#nombre {
    color: var(--main-color);
    font-weight: 900;
    font-size: 4vw;
    margin: 0px;
}

#descripcion {
    font-family: var(--condensed-font);
    color: var(--grey-800);
}

.primeraColumna {
    font-size: 1.6vw;
    width: 45%;
}

#correo:active {
    color: var(--accent-color);
}

#semestre {
    font-size: 2.7vw;
    margin: 1.85% 4.5% 1.85% 4.5%;
}

#perfiles {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 5vw;
    row-gap: 7vw;
    margin: 0% 6% 2% 4%;
}

.cajaPerfil {
    display: grid;
    position: relative;
    width: 19vw;
    border: none;
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    background-color: var(--main-color);
    color: inherit;
    transition: transform 0.5s ease;
}

.cajaPerfil:hover {
    transform: scale(1.1) rotate(5deg);
    background-color: var(--accent-color);
}

.fotoPerfil {
    width: 19vw;
    height: 19vw;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0px 0px;
    margin: 0px;
}

.cajaNombrePerfil {
    background-color: white;
    padding: 7.5% 5% 7.5% 5%;
}

.nombrePerfil {
    font-size: 1.4vw;
    margin: 0;
}

.lineaInferior {
    margin: 0px;
    height: 1.2vw;
    border-radius: 0px 0px 20px 20px;
    border: none;
}

#noEncontrado {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent-color);
    font-size: 1.4vw;
}

@media (min-width: 320px) and (max-width: 768px) {
    .titulo {
        font-size: 8vw;
    }

    #ucv {
        font-size: 4vw;
    }

    #bigVisible {
        display: none;
    }

    #campoBusqueda {
        display: none;
    }

    #botonBusqueda {
        display: none;
    }

    #circuloIconoUsuario {
        display: none;
    }

    #iconoUsuario {
        display: none;
    }

    #menu {
        display: inline;
        width: 7vw;
        height: 7vw;
        border: none;
        background: none;
    }

    #listaMenu {
        display: none;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column;
        background-color: var(--main-color);
        font-size: 2vw;
        color: white;
        padding: 0% 5% 5% 5%;
    }

    #busquedaMini {
        display: flex;
        margin: 0;
        width: 100%;
        height: 2.85%;
        justify-content: center;
    }

    #campoBusquedaMini {
        display: flex;
        align-items: center;
        border: none;
        width: 75%;
        border-radius: 25px 0px 0px 25px;
        font-size: 3vw;
        padding: 10px;
    }

    #botonBusquedaMini {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        width: 25%;
        border-radius: 0px 25px 25px 0px;
        color: white;
        font-size: 3vx;
        background-color: var(--accent-color);
    }

    #circuloIconoUsuarioMini {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 55px;
        background-color: var(--accent-color);
        border-radius: 100%;
        margin: 0;
    }

    #iconoUsuarioMini {
        display: flex;
        width: 70%;
        height: 70%;
    }

    #cajaPerfil {
        flex-direction: column;
        box-shadow: 0px 0.5vw 0.4vw 0.3vw rgba(0, 0, 0, 0.2);
    }

    #cajaFotoPerfil {
        width: 100%;
        height: 80%;
        padding: 0% 0% 1.5% 0%;
    }

    #fotoPerfilBig {
        display: none;
    }

    #fotoPerfilSmall {
        display: block;
    }

    .fotoPerfilPrincipal {
        border-bottom-right-radius: 75px;
    }

    #cajaTexto {
        font-size: 3.2vw;
        display: grid;
        margin: 0;
        padding: 5% 12% 5% 12%;
    }

    #nombre {
        color: var(--main-color);
        font-weight: 900;
        font-size: 7vw;
        margin: 0px;
    }

    #descripcion {
        font-family: var(--condensed-font);
        color: var(--grey-800);
    }

    .primeraColumna {
        font-size: 3.5vw;
        width: 45%;
    }

    footer {
        font-size: 2.55vw;
    }

    #semestre {
        font-size: 6.5vw;
        margin: 4% 4% 4% 4%;
    }

    #perfiles {
        grid-template-columns: auto auto;
        column-gap: 15vw;
        row-gap: 5vw;
        margin: 0% 9% 4% 9%;
    }

    .cajaPerfil {
        width: 32vw;
        border-radius: 10px 10px 10px 10px;
    }

    .fotoPerfil {
        width: 32vw;
        height: 36vw;
        border-radius: 10px 10px 0px 0px;
    }

    .cajaNombrePerfil {
        padding: 7.5% 5% 7.5% 5%;
    }

    .nombrePerfil {
        font-size: 3vw;
    }

    .lineaInferior {
        height: 2.8vw;
        border-radius: 0px 0px 10px 10px;
    }

    #noEncontrado {
        font-size: 3vw;
    }
}